@font-face {
    font-family: "iconfont";
    /* Project id 4718010 */
    src: url('//at.alicdn.com/t/c/font_4718010_dxyserhhnze.woff2?t=1729495258611') format('woff2'),
        url('//at.alicdn.com/t/c/font_4718010_dxyserhhnze.woff?t=1729495258611') format('woff'),
        url('//at.alicdn.com/t/c/font_4718010_dxyserhhnze.ttf?t=1729495258611') format('truetype'),
        url('//at.alicdn.com/t/c/font_4718010_dxyserhhnze.svg?t=1729495258611#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-json:before {
    content: "\e685";
}


html,
body {
    height: 100vh;
    overflow: hidden;
    --uno: bg-base font-ping;
}

html {
    font-size: 14px;
}

body {
    font-size: 16px;
}

.dark {
    color-scheme: dark;
}
